<div class="wrapper">
    <div class="koala">
		<%= image_tag("koala.png", :class => "koala-image") %>
		<div class="other-links">
			<a href="mailto:teamkoala@gmail.com">Contact</a> |
			<%= link_to "Rules", :controller => "pages", :action => "rules" %> |
			<%= link_to "Terms of Use", :controller => "pages", :action => "terms" %> |
			<%= link_to "Privacy Policy", :controller => "pages", :action => "privacy" %>
		</div>
	</div>
</div>